name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go

    - uses: actions/checkout@v2

    - name: Test
      run: go test ./... -race -v

    - name: Build
      run: go build -v -o mysql_wsrep cmd/main.go

    - name: Tar Files
      run: tar -czvf mysql_wsrep latest-linux-amd64.tar.gz

    - name: 'Upload Linux x64 Release'
      uses: actions/upload-artifact@v2
      with:
        name: latest-linux-amd64-build
        path: latest-linux-amd64.tar.gz
